
h1{
  text-align: center;
  font-family: 'Square Peg', cursive;
}

table.table-bordered {
  width: 300px;
  height: 150px;
  margin: 0 auto;
  border: 1px black solid;
}

h5,p {
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}

.rows{
  text-align: center;
  font-size: 50px;
}

td {
  width: 100px;
  height: 100px;
}

.page-footer{
  font-size: xx-small;
}

#restart{
  background-color: #E8E45F;
}

#start{
  background-color: #405d27;
}

#toggle_switch{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}